.features {
    grid-column: col-start 1 / col-end 8;
    margin: 12.8rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6.4rem;
    align-items: start;

    .feature {
        display: grid;
        grid-template-columns: min-content 1fr;
        // grid-template-rows: min-content min-content;
        row-gap: 1.6rem;
        column-gap: 2.4rem;
        // position: relative;

        &__icon {
            height: 4.4rem;
            width: 4.4rem;
            fill: var(--color-primary);
            // position: absolute;
            transform: translateY(-1rem);
        }

        &__text {
            grid-column: 2;
            font-size: 1.6rem;
        }
    }
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
