.footer {
    background-color: var(--color-secondary);
    grid-column: sidebar-start / full-end;
    padding: 8rem;

    .nav {
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.6rem;
        align-items: center;

        &__item {
        }

        &__link:link,
        &__link:visited {
            font-family: var(--font-display);
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--color-white);
            text-align: center;
            padding: 1.6rem;
            display: block;
            transition: all 0.3s;
        }

        &__link:hover,
        &__link:active {
            background-color: rgba($color-white, 0.05);
            transform: translateY(-0.3rem);
        }
    }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
