.story {
    &__pictures {
        background-color: var(--color-primary);
        grid-column: sidebar-start / col-end 4;

        background-image: linear-gradient(
                rgba($color-primary, 0.5),
                rgba($color-primary, 0.5)
            ),
            url("../img/back.jpg");

        background-size: cover;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
    }

    &__img--1 {
        width: 100%;
        grid-column: 2/6;
        grid-row: 2/6;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    }

    &__img--2 {
        width: 110%;
        grid-column: 4/-1;
        grid-row: 3/-1;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    }

    &__content {
        background-color: var(--color-grey-light-1);
        grid-column: col-end 4 / full-end;
        padding: 6.4rem 8vw;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;

        display: grid;
        align-content: center;
        justify-items: start;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4.8rem;
    }

    @media (max-width: $bp-medium) {
        &__pictures {
            grid-column: sidebar-start / -1;
            grid-row: 5;
            padding: 6rem;
        }

        &__img--1 {
            align-self: start;
            grid-column: 1/5;
            grid-row: 1 / 7;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__img--2 {
            // grid-column: 4/-1;
            grid-row: 1 / -1;
            width: 100%;
        }

        &__content {
            grid-column: sidebar-start / -1;
        }
    }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
